[submodule "pentadactyl-syntax"]
	path = pentadactyl-syntax
	url = https://github.com/joshtch/pentadactyl-syntax.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "rhythm.css"]
	path = rhythm.css
	url = https://github.com/Rykka/rhythm.css.git
