[submodule "pentadactyl-syntax"]
	path = pentadactyl-syntax
	url = https://github.com/joshtch/pentadactyl-syntax.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "ITerm2/iterm2-borderless"]
	path = ITerm2/iterm2-borderless
	url = https://github.com/Nasga/iterm2-borderless.git
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/huyz/dircolors-solarized.git
