[submodule "pentadactyl-syntax"]
	path = pentadactyl-syntax
	url = https://github.com/joshtch/pentadactyl-syntax.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = http://github.com/robbyrussell/oh-my-zsh.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "ITerm2/iterm2-borderless"]
	path = ITerm2/iterm2-borderless
	url = https://github.com/Nasga/iterm2-borderless.git
